/* Global resets and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden; /* Hide horizontal scrollbar */
}

#clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background: #f3a0e3; /* Pink background color */
    background: -webkit-linear-gradient(top, #f3a0e3 0%, #f8c3cd 100%); /* Pink gradient */
    background: linear-gradient(top, #f3a0e3 0%, #f8c3cd 100%);
    background: -moz-linear-gradient(top, #f3a0e3 0%, #f8c3cd 100%);
    z-index: -1; /* Ensure clouds are behind other content */
}

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    position: absolute;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    right: 15px;
}

/* Cloud animations */
.x1 {
    animation: moveclouds 15s linear infinite;
}

.x2 {
    left: 200px;
    transform: scale(0.6);
    opacity: 0.6;
    animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px;
    top: 270px;
    transform: scale(0.8);
    opacity: 0.8;
    animation: moveclouds 15s linear infinite;
}

.x4 {
    left: 470px;
    top: 250px;
    transform: scale(0.75);
    opacity: 0.75;
    animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px;
    top: 196px;
    transform: scale(0.8);
    opacity: 0.8;
    animation: moveclouds 16s linear infinite;
}

/* Additional cloud animations */
.x6 {
    left: 200px;
    top: 80px;
    transform: scale(0.7);
    opacity: 0.6;
    animation: moveclouds 16s linear infinite;
}

.x7 {
    left: 178px;
    top: 235px;
    transform: scale(0.7);
    opacity: 0.9;
    animation: moveclouds 18s linear infinite;
}

.x8 {
    left: 320px;
    top: 180px;
    transform: scale(0.9);
    opacity: 0.3;
    animation: moveclouds 25s linear infinite;
}

.x9 {
    left: 450px;
    top: 400px;
    transform: scale(0.7);
    opacity: 0.2;
    animation: moveclouds 17s linear infinite;
}

.x10 {
    left: 280px;
    top: 360px;
    transform: scale(0.7);
    opacity: 0.4;
    animation: moveclouds 23s linear infinite;
}

@keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

/* Close button styles */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3D4C53;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #26A69A;
}

/* Content wrapper styles */
.content-wrapper {
    position: relative;
    z-index: 1;
    padding: 10px;
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 21px;
    background-color: rgba(255, 240, 245, 0.8);
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 40%;
    margin: 40px auto;
}

.box1 {
    padding: 5px;
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: PaleVioletRed;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 20px auto;
}

/* Button styles */
.button-81 {
    display: block;
    width: 200px;
    padding: 1em 1.5em;
    margin: 15px auto;
    font: inherit;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 25px;
    background: -webkit-linear-gradient(top, #f3a0e3 0%, #f8c3cd 100%);
    background: linear-gradient(top, #f3a0e3 0%, #f8c3cd 100%);
    background: -moz-linear-gradient(top, #f3a0e3 0%, #f8c3cd 100%);
    color: black;
    cursor: pointer;
    transition: filter 0.3s ease, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    outline: none;
}

.button-81:hover {
    filter: brightness(1.1);
    background-color: #ffb6c1;
    border: 5px solid PaleVioletRed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.button-81:active {
    filter: brightness(0.9);
    background-color: #ffc0cb;
    border-color: #ffc0cb;
    transform: scale(0.95);
}

@media (min-width: 768px) {
    .button-81 {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}
